*{
    padding: 0;
    margin: 0;
}
body{
    width:100%;
    height: 100%;
    font: 400 14px/20px 'Quicksand', sans-serif;
    color:#3b3b3b;
    background: #fefefe;
    /*font: 16px 'KaufmannBT-Regular', sans-serif;*/
}
@media (min-width:990px){
    body, .userinfo{
        overflow: hidden;
    }  
}
img{
    display: block;
    width:100%;
    height:auto;
}
ul li{
    list-style: none;
}
a, a:hover, a:focus, a:active{
    color:inherit;
    text-decoration: none;
}
button{
    border:none;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}
button:hover, button:focus, button:active, input:active, input:focus{
    outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
.clear{
    clear:both;
}
.header{
    width:100%;
}
@media (min-width:990px){
    .header, .wrapper, .usercontent, .usercontent_menu{
        position: absolute;
    }  
    .wrapper, .block, .usercontent_wrap{
        height: 100%;
    } 
}
.wrapper{
    left:6%;
    right:6%;
    /*min-width:1150px;*/
    
}
.header{
    height:56px;
    background: #5b5b5b;
    z-index: 5;
}
.userinfo, .container, .rightblock{
    position: absolute;
    top:78px;
    bottom:22px;
    /*border-bottom: 25px solid #ebecec;*/
}
.userinfo, .container{
    background: #ebecec;
}
.userinfo{
    left:0;
    width:25%;
}
.container{
    left:25%;
    width:50%;
    /*min-width:800px;*/
    /*border-bottom:18px solid #ebecec;*/
}
.rightblock{
   right:0;
    width:25%; 
}
/*----------top menu----------*/
.topmenu_mob{
    display: none;
}
.topmenu_right{
    float:right;
    width:85;
    }
.topmenu_btn{
    height:26px;
    line-height: 26px;
    width:75px;
    text-align: center;
    margin:15px 20px 15px auto;
    background: #ebecec;
}
.btn_shadow{
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.btn_shadow:hover, .btn_shadow:focus{
    -webkit-box-shadow: 0px 0px 12px 0px rgba(255,255,255,0.4);
    -moz-box-shadow: 0px 0px 12px 0px rgba(255,255,255,0.4);
    box-shadow: 0px 0px 12px 0px rgba(255,255,255,0.4);
}
.bold{
    font-weight: 700;
}
.topmenu_all{
    margin-right:25%;
}
.logo{
    color:#fefefe;
    margin-left:7%;
}
.logo_item1, .logo_item2{
    display:block;
    float:left;
    line-height: 56px;
    padding-right:32px;
}
.logo_item1{
    font-size:2.6em;
}
.logo_item2{
    font-size:2em;
}
.search{
    float:right;
    margin-right:-28px;
}
.search_form{
    height:56px;
}
.search_btn, .search_input{
    height:26px;
    line-height: 26px;
    margin:15px 0;
}
.search_btn{
    width:75px;
    text-align: center;
    background: #a3d4db;
    color:#fefefe;
    margin-left:10px;
}
.search_input{
    width:520px;
    border:none;
    background: #fefefe;
    font:inherit;
}

/*-----левая колонка .userinfo-----*/

btn_slide_wrap{
    display: none;
}
.userinfo .block_item{
    margin:16px 16px 0 16px;
}
.user_photo{
    position: relative;
}
.online{
    display: block;
    position: absolute;
    top:18px;
    right:40px;
    width:14px;
    height:14px;
    border-radius: 7px;
    background: #b0cb1f;
}
.user_photo{
    padding:12px 34px;
}
.user_photo_pic{
    display: block;
    width:100%;
    height:auto;
    /*width:200px;
    height:213px;
    border-top:12px solid #fefefe;
    border-bottom:12px solid #fefefe;
    border-left:34px solid #fefefe;
    border-right:34px solid #fefefe;*/
}
.evaluation_num{
    float:right;
    width:30px;
    font-weight: 500;
    font-size: 1.5em;
    text-align: right;
    line-height: 43px;
}
.evaluation_items{
    margin-right:32px;
    padding:15px 0;
}
.evaluation_items div{
    display:inline-block;
}
.cub{
    display:block;
    float:left;
    width:15px;
    height:15px;
    line-height: 15px;
    text-align: center;
    font-size: 12px;
    color:#fefefe;
}
.cub:hover, .cub:focus{
    width:19px;
    height:19px;
    margin:-2px -2px;
}
.cub1{
    background: #2b2b2b;
}
.cub2{
    background: #3b3b3b;
}
.cub3{
    background: #4b4b4b;
}
.cub4{
    background: #5b5b5b;
}
.cub5{
    background: #7b7b7b;
}
.cub6{
    background: #8b8b8b;
}
.cub7{
    background: #9b9b9b;
}
.cub8{
    background: #bbb;
}
.cub9{
    background: #cbcbcb;
}
.cub10{
    background: #dbdbdb;
}
.user_data{
    padding:0 34px;
}
.user_data span{
    display: block;
}
.name{
    font-size:1.5em;
    font-weight:500;
}
.profession{
    padding-top:2px;
}

.someblock{
    padding:20px 10px;
}
.btn_down_wrap{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:22px;
    padding-bottom: 3px;
    text-align: center;
    background: #ebecec;
    z-index: 300;
}
.btn_down{
    background: inherit;
    height:22px;
    width:30px;
}
.btn_down:before{
    content:'\f0d7';
    font-family: 'FontAwesome';
    font-size:22px;
    color:#3b3b3b;
}
.btn_down:hover .fa, .btn_down:focus .fa{
    color: #9b9b9b;
}
/*----------galary----------*/

.block_item.user_galery{
   padding:8px 6px 6px 6px;
}
.user_galery img{
    display: block;
    width:auto;
    height:80px;
} 
.owl-carousel {
    width: auto;
}
.owl-item{
    overflow: hidden;
    height:80px;
    /*background: #fefefe;
    border:6px solid #fefefe;*/
}
.owl-carousel .owl-item img {
    width:auto;
}
.owl-theme .owl-nav [class*=owl-] {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    width:22px;
    text-align: center;
    margin: 5px;
    padding:0;
    background: #d6d6d6;
    display: inline-block;
    cursor: pointer;
    border-radius: 11px;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: #9b9b9b;
}

    /*------кнопки ОТКРЫТЬ СВЕРНУТЬ-----*/
.buttons_wrap{
    position: absolute;
    top:0;
    right:-70px;
    z-index:100;
}
.square_btn{
    display: block;
    width:28px;
    height:22px;
    margin-bottom: 12px;
    background: #5b5b5b;
    color: #fefefe;
    border:none;
}
.tipe3{
     display:none;
}
.tipe1:before{
    font: 20px 'Material Icons';
    line-height: 22px;
    content: 'close';
}
.tipe2:before{
    font: 19px 'FontAwesome';
    content: '\f0d9';
}
.tipe3:before{
    font: 19px 'FontAwesome';
    content: '\f0da';
}
.square_btn:hover, .square_btn:focus{
    background: #9b9b9b
}


/*-----центральная колонка CONTAINER-----*/
.usercontent{
    top:0;
    left:0;
} 
@media (min-width:990px){
    .usercontent{
        right:-30px;
        overflow-y: scroll;
    }  
}
.border{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:25px;
    background: #ebecec;
    z-index: 10;
}
.block_item{
    background: #fefefe;
}
.usercontent_wrap{
    margin-right:12px;
    padding:0;
    background: #ebecec;
}
.usercontent_menu{
    top:0;
    left:0;
    right:0;
    line-height:50px;
    font-size:1.1em;
    text-transform: capitalize;
    background: #ebecec;
    z-index: 10;
}
.user_menu_wrap{
    display:flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    margin:16px;
    padding:0 20px;
    background: #fefefe;
}
.tab.active{
    font-weight: 700;
}
.tab4{
    text-transform: uppercase;
}
.usercontent_tab {
    margin: 82px 30px 16px 16px;
    display: none;
}
.usercontent_tab.active {
    display: block;
}
/*----------вкладка 1 BLOG----------*/

.usercontent_items{
    padding:18px 18px 0 40px;
    background: #fefefe;
}
.usercontent_main{
    padding-top: 24px;
}
.usercontent_down{
    padding-top: 9px;
}
.usercontent_up{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
}
.usercontent_up_photo{
    position: relative;
    width:12%;
}
.usercontent_up_photo .online{
    top:auto;
    bottom:-5px;
    right:10px;
    width:10px;
    height:10px;
    border-radius: 5px;
}
.usercontent_up_data{
    margin-left:20px;
}
.data_name{
    font-size: 1.2em;
    font-weight: 700;
}
.data_date{
    color:#aaa;
    padding-top:4px;
}
.usercontent_main, .usercontent_down{
    clear:both;
}
.usercontent_main_photos{
    width:10000px;
}
.usercontent_main{
    width:100%;
    overflow: hidden;
}
.main_photos_items{
    float:left;
    height:180px;
    margin-right:14px;
}
.usercontent_main .main_photos_items img, .album_wrap img{
    height:100%;
    width:auto;
} 
/*----------вкладка 2 SUBSCRIBERS----------*/
.data_date .prof{
    color:#3b3b3b;
}
#tab2{
    background-color: transparent;
}
#tab2 .usercontent_items{
    padding:10px 14px;
    margin-bottom: 16px;
}
#tab2 .usercontent_up_data{
    display:flex;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
}    
/*----------вкладка 3 ALBUM: ;----------*/
.album_wrap{
    display: inline-block;
    margin-right:14px;
}
.album_wrap img{
    height:125px;
}
.album_name{
    display: block;
    width:100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
/*----------вкладка 4 CV: ;----------*/

#tab4 .usercontent_up_photo{
    width:16%;
    padding:12px 6px;
    background: #f5f5f5;
}
#tab4 .usercontent_up{
    align-items: flex-end;
    -webkit-align-items: flex-end;
}
#tab4 .data_name{
    font-size: 1.3em;
}
#tab4 .data_date .prof{
    font-size: 1.4em;
    padding: 2px 0 6px;
}
.btn_edit{
    display: block;
    float:right;
    margin-top:-23px;
}
.btn_edit:hover, .btn_edit:focus{
    text-decoration: underline;
}
.usercontent_items .table{
    vertical-align: top;
    margin-top:20px;
}
.usercontent_items .table tr td{
    padding: 8px 8px 10px 0;
    border:none;
}
.usercontent_items .table .rowspan td{
    padding: 2px 8px 2px 0;
}
.usercontent_items .table .rowspan .rowspan_1st{
    padding-top:8px;
}
.usercontent_items .table .rowspan .rowspan_last{
    padding-bottom:10px;
}

/*-----при нажатии "свернуть"-----*/
.buttons_wrap.small{
    right:-40px;
}
.buttons_wrap.small .tipe2{
    display:none
}

.buttons_wrap.small .tipe3{
    display:block;
}
.userinfo.small{
    width:100%;
}

/*-----SCROLLBAR-----*/
@media (min-width:990px){
::-webkit-scrollbar{
    background-color: #ebecec;
    width:16px;
}
::-webkit-scrollbar-button{
    display: none;
}
::-webkit-scrollbar-thumb{
    background-color: #bababa;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #8e8e8e;
}
}
