
/*-----TABLET-----*/
@media (max-width:1200px) {
    body{
        font-size:16px;
        line-height: 22px;
    }
    .wrapper{
        left:22px;
        right:22px;
    }
    .block_item.user_galery{
        padding-bottom:20px;
    }
    .search_input{
        width:300px;
    }
    .user_photo, .user_data{
        padding-right: 26px;
        padding-left: 26px;
    }
}

/*-----MOBILE-----*/
@media (max-width:990px) {
    .body{
        overflow: visible;
    }
    .wrapper{
        background: #ebecec;
        left:0;
        right:0;
    }
    .userinfo, .container, .rightblock{
        top:78px;
        bottom:0;
    }
    .userinfo{
        width:80%;
        left:10%;
        overflow:visible;
    }
    .container{
        width:100%;
        left:100%;
        display: none;
    }
    .userinfo .block_item{
        margin:32px 32px 0 32px;
    }
    .user_photo{
        padding:58px 58px 74px 58px;
    }
    .online{
        width:28px;
        height:28px;
        border-radius: 14px;
    }
    .user_data{
        padding:58px 58px 74px 58px;
    }
    .topmenu{
        display: none;
    }
    .topmenu_mob{
        display: block;
    }



}